.img-habilidade{
    width: 80px;
}

.container-habilidade-estatico{
    padding: 0;
    margin: 0 0.7rem;
    width: 120px;
}

.container-habilidade-dinamico{
    padding: 12px 0px 12px 15px;
    margin: 16px 0px;
    border-radius: 20px;
    width: 109px;
    background-color: rgb(159, 157, 157);
}

.barra-vermelha{
    color: red;
}

.container-habilidade-estatico:hover .container-habilidade-dinamico{
    animation: quicar 1s ease-out;
    background-color: whitesmoke;
}

.container-ativo{
    background-color: rgb(220, 220, 220);
}

/* Códigos abaixo para fazer a mudança de cor na imagem para cada tipo de linguagem de programação */
.container-habilidade-estatico:hover .html,
.html-ativo{
    filter: invert(61%) sepia(87%) saturate(5641%) hue-rotate(351deg) brightness(97%) contrast(103%);
}

.container-habilidade-estatico:hover .css,
.css-ativo{
    filter: invert(20%) sepia(99%) saturate(3055%) hue-rotate(229deg) brightness(95%) contrast(89%);
}

.container-habilidade-estatico:hover .javascript,
.javascript-ativo{
    filter: invert(80%) sepia(23%) saturate(1038%) hue-rotate(5deg) brightness(109%) contrast(88%);
}

.container-habilidade-estatico:hover .reactjs,
.reactjs-ativo{
    filter: invert(92%) sepia(20%) saturate(4966%) hue-rotate(162deg) brightness(100%) contrast(97%);
}

.container-habilidade-estatico:hover .bootstrap,
.bootstrap-ativo{
    filter: invert(12%) sepia(75%) saturate(7483%) hue-rotate(268deg) brightness(97%) contrast(101%);
}

.container-habilidade-estatico:hover .postgresql,
.postgresql-ativo{
    filter: invert(39%) sepia(6%) saturate(4723%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.container-habilidade-estatico:hover .mongodb,
.mongodb-ativo{
    filter: invert(55%) sepia(60%) saturate(487%) hue-rotate(65deg) brightness(96%) contrast(81%);
}

.container-habilidade-estatico:hover .git,
.git-ativo{
    filter: invert(38%) sepia(18%) saturate(5177%) hue-rotate(340deg) brightness(107%) contrast(88%);
}

.container-habilidade-estatico:hover .ingles,
.ingles-ativo{
    filter: invert(6%) sepia(60%) saturate(6201%) hue-rotate(244deg) brightness(107%) contrast(114%);
}

.container-habilidade-estatico:hover .python,
.python-ativo{
    filter: invert(87%) sepia(62%) saturate(1878%) hue-rotate(318deg) brightness(103%) contrast(105%);
}

.container-habilidade-estatico:hover .nodejs,
.nodejs-ativo{
    filter: invert(62%) sepia(5%) saturate(4964%) hue-rotate(47deg) brightness(121%) contrast(71%);
}

.container-habilidade-estatico:hover .java,
.java-ativo{
    filter: invert(40%) sepia(94%) saturate(742%) hue-rotate(166deg) brightness(93%) contrast(94%);
}

@keyframes quicar{
    0%, 30%, 60%, 80%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(-15px);
    }
    70%{
        transform: translateY(-10px);
    }
    99%{
        transform: translateY(-5px);
    }
}