.main-sobre{
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    color: white !important;
}

.main-sobre-col2{
    padding-right: 120px;
}

.main-sobre-col2 p{
    text-align: justify;
}

.main-sobre .img-email{
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(108%) contrast(101%);
}

.span-email{
    font-size: 18px;
    font-weight: bold;
}

h2{
    font-size: 40px;
}

p{
    font-size: 21px;
}

.barra-vermelha{
    color: red;
}

@media (max-width: 1198.98px) {
    .main-sobre-col2{
        padding-right: 55px;
    }
}

@media (max-width: 991.98px) {
    .main-sobre-col2{
        padding-right: 30px;
    }
}

@media (max-width: 767.98px) {
    .main-sobre .row {
      flex-direction: column-reverse;
    }
    .main-sobre-col2{
        padding-right: 30px;
        padding-left: 30px;
    }
}