.img-habilidade{
    width: 80px;
}

.container-habilidade-estatico{
    padding: 0;
    margin: 0 0.7rem;
    width: 120px;
}

.container-habilidade-dinamico{
    padding: 12px 0px 12px 15px;
    margin: 16px 0px;
    border-radius: 20px;
    width: 109px;
    background-color: rgb(159, 157, 157);
}

.barra-vermelha{
    color: red;
}

.container-ativo{
    background-color: rgb(220, 220, 220);
}

/* Códigos abaixo para fazer a mudança de cor na imagem para cada tipo de linguagem de programação */

.python-ativo{
    filter: invert(92%) sepia(63%) saturate(1255%) hue-rotate(319deg) brightness(102%) contrast(102%);
}

.typescript-ativo{
    filter: invert(41%) sepia(100%) saturate(416%) hue-rotate(171deg) brightness(91%) contrast(85%);
}

.nestjs-ativo{
    filter: invert(27%) sepia(46%) saturate(3834%) hue-rotate(328deg) brightness(90%) contrast(95%);
}

.django-ativo{
    filter: invert(13%) sepia(8%) saturate(5431%) hue-rotate(109deg) brightness(95%) contrast(89%);
}

.vuejs-ativo{
    filter: invert(66%) sepia(24%) saturate(850%) hue-rotate(102deg) brightness(91%) contrast(89%);
}

.docker-ativo{
    filter: invert(59%) sepia(52%) saturate(4479%) hue-rotate(182deg) brightness(97%) contrast(93%);
}

.jest-ativo{
    filter: invert(37%) sepia(9%) saturate(2920%) hue-rotate(295deg) brightness(91%) contrast(90%);
}

.unittest-ativo{
    filter: invert(38%) sepia(17%) saturate(1777%) hue-rotate(213deg) brightness(91%) contrast(84%);
}

.html-ativo{
    filter: invert(61%) sepia(87%) saturate(5641%) hue-rotate(351deg) brightness(97%) contrast(103%);
}

.css-ativo{
    filter: invert(20%) sepia(99%) saturate(3055%) hue-rotate(229deg) brightness(95%) contrast(89%);
}

.javascript-ativo{
    filter: invert(80%) sepia(23%) saturate(1038%) hue-rotate(5deg) brightness(109%) contrast(88%);
}

.reactjs-ativo{
    filter: invert(92%) sepia(20%) saturate(4966%) hue-rotate(162deg) brightness(100%) contrast(97%);
}

.bootstrap-ativo{
    filter: invert(12%) sepia(75%) saturate(7483%) hue-rotate(268deg) brightness(97%) contrast(101%);
}

.postgresql-ativo{
    filter: invert(39%) sepia(6%) saturate(4723%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.mongodb-ativo{
    filter: invert(55%) sepia(60%) saturate(487%) hue-rotate(65deg) brightness(96%) contrast(81%);
}

.git-ativo{
    filter: invert(38%) sepia(18%) saturate(5177%) hue-rotate(340deg) brightness(107%) contrast(88%);
}

.ingles-ativo{
    filter: invert(6%) sepia(60%) saturate(6201%) hue-rotate(244deg) brightness(107%) contrast(114%);
}

.redux-ativo{
    filter: invert(29%) sepia(80%) saturate(1438%) hue-rotate(242deg) brightness(89%) contrast(77%);
}

.nodejs-ativo{
    filter: invert(62%) sepia(5%) saturate(4964%) hue-rotate(47deg) brightness(121%) contrast(71%);
}

.java-ativo{
    filter: invert(40%) sepia(94%) saturate(742%) hue-rotate(166deg) brightness(93%) contrast(94%);
}

.springboot-ativo{
    filter: invert(63%) sepia(17%) saturate(1366%) hue-rotate(52deg) brightness(98%) contrast(88%);
}

.hibernate-ativo{
    filter: invert(93%) sepia(7%) saturate(1745%) hue-rotate(358deg) brightness(80%) contrast(83%);
}

.container-habilidade-estatico .container-habilidade-dinamico:has([class$="-ativo"]){
    animation: quicar 1s ease-out;
    background-color: whitesmoke;
}

@media (min-width: 946.98px){
    .container-habilidade-estatico:hover .container-habilidade-dinamico{
        animation: quicar 1s ease-out;
        background-color: whitesmoke;
    }

    .container-habilidade-estatico:hover .html{
        filter: invert(61%) sepia(87%) saturate(5641%) hue-rotate(351deg) brightness(97%) contrast(103%);
    }

    .container-habilidade-estatico:hover .css{
        filter: invert(20%) sepia(99%) saturate(3055%) hue-rotate(229deg) brightness(95%) contrast(89%);
    }

    .container-habilidade-estatico:hover .javascript{
        filter: invert(80%) sepia(23%) saturate(1038%) hue-rotate(5deg) brightness(109%) contrast(88%);
    }

    .container-habilidade-estatico:hover .reactjs{
        filter: invert(92%) sepia(20%) saturate(4966%) hue-rotate(162deg) brightness(100%) contrast(97%);
    }

    .container-habilidade-estatico:hover .bootstrap{
        filter: invert(12%) sepia(75%) saturate(7483%) hue-rotate(268deg) brightness(97%) contrast(101%);
    }

    .container-habilidade-estatico:hover .postgresql{
        filter: invert(39%) sepia(6%) saturate(4723%) hue-rotate(165deg) brightness(95%) contrast(85%);
    }

    .container-habilidade-estatico:hover .mongodb{
        filter: invert(55%) sepia(60%) saturate(487%) hue-rotate(65deg) brightness(96%) contrast(81%);
    }

    .container-habilidade-estatico:hover .git{
        filter: invert(38%) sepia(18%) saturate(5177%) hue-rotate(340deg) brightness(107%) contrast(88%);
    }

    .container-habilidade-estatico:hover .ingles{
        filter: invert(6%) sepia(60%) saturate(6201%) hue-rotate(244deg) brightness(107%) contrast(114%);
    }

    .container-habilidade-estatico:hover .redux{
        filter: invert(29%) sepia(80%) saturate(1438%) hue-rotate(242deg) brightness(89%) contrast(77%);
    }

    .container-habilidade-estatico:hover .nodejs{
        filter: invert(62%) sepia(5%) saturate(4964%) hue-rotate(47deg) brightness(121%) contrast(71%);
    }

    .container-habilidade-estatico:hover .java{
        filter: invert(40%) sepia(94%) saturate(742%) hue-rotate(166deg) brightness(93%) contrast(94%);
    }
}

@keyframes quicar{
    0%, 30%, 60%, 80%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(-15px);
    }
    70%{
        transform: translateY(-10px);
    }
    99%{
        transform: translateY(-5px);
    }
}