.main-projetos{
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    color: white !important;
}

.barra-vermelha{
    color: red;
}

#projetos h3,
#projetos p{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.carousel{
    max-width: 70%;
}