.main-skills{
    min-height: 100vh;
    width: 100%;
    z-index: -1;
    color: white !important;
}

.main-skills-col1{
    margin-top: 3rem;
}

.main-skills-col2{
   min-width: 45vw;
}
.main-skills p{
    padding: 0 1rem;
}

.main-skills-col2 p{
    text-align: justify;
}

@media (max-width: 946.98px) {
    .row-skills{
        flex-direction: column-reverse;
    }
    .main-habilidades-col1{
        margin: 1rem 2.5rem 0 2.5rem;
    }
    .main-habilidades-col2{
        min-height: 290px;
    }
    .main-habilidades-col2 p{
        padding: 0 0.5rem;
    }
}

@media (max-width: 739.98px) {
    .main-habilidades-col1{
        margin: 1rem 1.4rem 0 1.4rem;
    }
    .main-habilidades-col2{
        min-height: 360px;
    }
}

@media (max-width: 618.98px) {
    .main-habilidades-col1{
        margin: 1rem 0.7rem 0 0.7rem;
    }
}