.project-card{
    transition: transform 0.2s;
  }
  
  .project-card:hover{
    transform: scale(1.05) !important;
  }
  
  .project-image{
    border-radius: 0.5rem;
  }
  
  .project-title{
    font-size: 1.5rem;
  }
  
  .project-description{
    font-size: 1rem;
  }
  
  .tec-badge{
    margin: 4px;
  }
  
  .link-badge{
    padding: 7px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .link-badge a{
    text-decoration: none;
    color: white;
  }