.custom-width{
    width: 142px;
}

.btn{
    color: white !important;
    border: 1px solid white;
    box-shadow: 0px 0px 7px whitesmoke;
    transition: box-shadow 0.6s ease-in-out, border 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.btn img{
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.btn-github:hover{
    box-shadow: 0px 0px 30px #e6020e;
    border: 1px solid #e6020e;
    color: #ffcfd2 !important;
    transform: scale(1.1);
}

.btn-linkedin:hover{
    box-shadow: 0px 0px 30px #0a66c2;
    border: 1px solid #0a66c2;
    color: #4ca4fb !important;
    transform: scale(1.1);
}

.btn-resume:hover{
    box-shadow: 0px 0px 20px #ffffff;
    border: 1px solid #000000;
    color: #d3d9dd !important;
    transform: scale(1.1);
}

.btn-github:hover img {
    filter: invert(85%) sepia(27%) saturate(1000%) hue-rotate(308deg) brightness(100%) contrast(100%);
}

.btn-linkedin:hover img{
    filter: invert(20%) sepia(83%) saturate(1000%) hue-rotate(184deg) brightness(88%) contrast(94%);
}

.btn-resume:hover img{
    filter: hue-rotate(308deg) saturate(5) brightness(1.1);
}